doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascipt', src='http://code.jquery.com-1.7.0.min.js');	 
  body
    block content
